<div class="nav-modules">
    <ul>
        <li>
            <a href="{{ site.baseurl }}">Bellows</a>
            <ul>
                <li><a href="{{ site.baseurl }}#usage">Usage</a></li>
                <li><a href="{{ site.baseurl }}#methods">Methods</a></li>
                <li><a href="{{ site.baseurl }}#class-names">Classes</a></li>
                <li><a href="{{ site.baseurl }}#events">Events</a></li>
                <li><a href="{{ site.baseurl }}#browser-support">Browser Support</a></li>
                <li><a href="{{ site.baseurl }}examples/">Examples</a></li>
            </ul>
        </li>
    </ul>
</div>
